<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850644993025-ab9v9lb8hs2bogb9ng7t1ih6h7s1ujkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850644993025-ab9v9lb8hs2bogb9ng7t1ih6h7s1ujkj</string>
	<key>API_KEY</key>
	<string>AIzaSyCTnZFqzPq-QBaTEhQLzPSFDLNymaZj8fA</string>
	<key>GCM_SENDER_ID</key>
	<string>850644993025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soyeon.FirebaseCRUD</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-e627d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-e627d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850644993025:ios:5bd5ce5ee262029db5ec00</string>
</dict>
</plist>